.wrapper-services {
    padding-top: auto; /* Centering on small screens */
    
}

.serv-header {
    background-color: #43484e;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Main container */
.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    row-gap: 50px; /* Space between boxes */
    column-gap: 35px; /* Space between columns */
    padding: 70px;
    padding-top: 20px; /* No padding at the top */
    padding-bottom: 20px; /* No padding at the bottom */

}

@media (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr; 
    padding: auto; /* Centering on small screens */
    row-gap: 20px;
  }
}

/* Styles for both blocks */
.box {
    min-width: 300px;
    height: 120px; /* Fixed height */
    padding: 30px; /* Padding for content */
    background-color: #ecf0f1;
    border: 2px solid #34495e; /* Border color */
    border-radius: 8px; /* Rounded corners */
    text-align: left;

}

@media (max-width: 768px) {
  .box {
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    padding: 20px; /* Adjust padding for smaller screens */
  }
}


/* Styles for the first block */
.left-box {
   background-color: #333; /* Dark grey */
   color: white; /* White text */
   box-shadow: 2px 2px 8px rgba(0,0,0,0.3); /* Shadow effect */
   
}

/* Styles for the second block */
.right-box {
    background-color: 	#bfbfbf; 
    color: #a1a1a1; /* Grey text */
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

/*Service items*/
.sercise-item-header {
    margin-top: 0; /* No space above the header */
    margin-bottom: 15px; /* Space below the header */
    font-size: 1.5rem; /* Font size */
    color: #e67e22; /* Orange color */
    font-weight: bold; /* Bold text */
}

.service-content {
    display: flex; /* Flexbox for layout */
    align-items: center; /* Center items vertically */
    gap: 35px; /* Space between items */
}

.service-image {
    width: 100px;
    height: 100px; /* Фіксована висота для збереження пропорцій */
    object-fit: cover; /* Обрізає фото по межах блоку */
    border-radius: 8px;
    border: 1px solid #34495e; /* Border color */
}
.price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Щоб текст був по лівому краю */
}

.price-label-l {
    font-size: 1rem;
    font-weight: 600;
    color: #bdc3c7; /* Трохи світліший, щоб не кричав */
    margin-bottom: 5px;
}

.price-label-r {
    font-size: 1rem;
    font-weight: 600;
    color: 	#484848;; /* Трохи світліший, щоб не кричав */
    margin-bottom: 5px;
}

.service-price-l {
    font-size: 1.2rem; /* Font size */
    color:  #ecf0f1; /* Dark color */
    font-weight: bold; /* Bold text */

}

.service-price-r {
    font-size: 1.2rem; /* Font size */
    color: #333; /* Dark color */
    font-weight: bold; /* Bold text */

}

.contact-us-container {
    display: flex;
    justify-content: center; 
    width: 700px;
    margin: 20px auto 40px auto; /* Centering the container */
    background-color: #a1a1a1;
    border-radius: 8px;
}

@media (max-width: 768px) {
  .contact-us-container {
    width: 70%; /* Adjust width for smaller screens */
    height: auto; /* Allow height to adjust based on content */
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .contact-us-text {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}